GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
NEXTAUTH_URL=https://app.jmlsd.org
NEXTAUTH_SECRET=your-nextauth-secret
ALLOWED_EMAILS=user1@gmail.com,user2@gmail.com
